<div class="form-group post-box side-section-title">
  <label> Vimeo Api Detail </label>
</div>
<div class="form-group post-box">
  <label>Numbers of Page : </label>
  <input type="number" min="1" max="10" class="form-control" [(ngModel)]="vimeoDef.page" >
</div>

<div class="form-group post-box">
  <label>Videos Per Page : </label>
  <input type="number" min="1" max="100" class="form-control" [(ngModel)]="vimeoDef.per_page" >
</div>

<div class="form-group post-box">
  <label>Sort By : </label>
  <input type="text" placeholder="Sort By ..  " class="form-control" [(ngModel)]="vimeoDef.sort">
</div>

<div class="form-group post-box">
  <label>Search For : </label>
  <input type="text" placeholder="Search for ..  " class="form-control" [(ngModel)]="vimeoDef.query">
</div>

<div class="form-group ">
  <label></label>
  <button (click)="getPosts()" class="btn btn-outline btn-block btn-danger">Make an API Call</button>
</div>
