.parent-section , .side-section {
  height:100vh;
  padding: 50px;
}

.parent-section {
  overflow: auto;
  background-color: white;
}
.post-box{
  transition: all 3s;
  border-bottom: 1px solid #e6ecf0;
  cursor: pointer;
  padding: 15px;
  box-shadow: 5px 3px 7px rgba(0 , 0 , 0 ,0.4);
}

.post-box:hover{
  background-color: #e6ecf0;
  opacity: 0.9;
}

.side-section {
  text-align: center;
  margin: auto;
}

.side-section-title {
  font-size: larger;
  font: small-caps;
  color: mediumblue;
}

.profile-img {
  width: 50px;
  height: 50px;
}
.user-name , .post-date {
  font-family: LKLUG  Serif;
  color: darkgray;
  font-size: x-large;
}
.post-date {
  font-size:smaller;
}

.video-information {
  display: block;
  padding: 4px;
  background-color: ghostwhite;
  border: 1px solid #cac5ff;
  border-radius: 4px;
  transition: border .2s ease-in-out;
}

.description-holder {
  font-family: "Comic Sans MS";
  overflow : hidden;
}

.info-badge {
  padding-right: 10%;
}
.info-badge-greenyellow:hover {
  color: greenyellow;
}
.info-badge-orangered:hover {
  color: orangered;
}
.info-badge-steelblue:hover {
  color: steelblue;
}
.info-badge-text {
  /*padding-left: 40%;*/
}
.video-title {
  font-size: large;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-danger.btn-outline {
  color: #ed5565;
  border: 0px;
}
.btn-danger.btn-outline:hover {
  color: #ff000f;
  background-color: #ffcdc8;
}
