<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3  col-lg-3 col-xs-3 side-section">

      <app-left-side (options)="optionsChange($event)"></app-left-side>
<!--      <div class="form-group post-box side-section-title">
        <label> Filtering Results  </label>
      </div>

      <div class="form-group post-box">
        <label>Filter Videos : </label>
        <input type="text" placeholder="Search ..  " class="form-control" [(ngModel)]="options.searchQuery" >
      </div>

      <div class="checkbox post-box">
        <label><input type="checkbox"  [(ngModel)]="options.minLike">Minimum 10 Likes / Video </label>
      </div>

      <div class="form-group ">
        <label></label>
        <button (click)="nextPostsSet()" class="btn btn-outline btn-block btn-danger">Show More Post</button>
      </div>-->

    </div>

    <div class="col-md-6 col-sm-6  col-lg-6 col-xs-6 parent-section">

      <div class="row post-box" *ngFor="let post of posts |  search : { minLike : options.minLike , searchQuery  : options.searchQuery }">
       <app-post [post]="post"></app-post>
        <!-- <div class="col-md-2 col-sm-2  col-lg-2 col-xs-2" (click)="goTo(post.user.link)">
          <img class="center-block profile-img img-circle" *ngIf="post.user.pictures !== null"
               [src]="post.user.pictures.sizes[post.user.pictures.sizes.length -1].link" />
          <img class="center-block profile-img img-circle" *ngIf="post.user.pictures === null"
               src="/assets/img/1.jpg" />
        </div>
        <div class="col-md-10 col-sm-10  col-lg-10 col-xs-10">
          <div class="row" (click)="goTo(post.user.link)" >
            <span class="user-name">{{post.user.name}}</span>
            <span class="post-date"> - {{post.created_time | date}}</span>
          </div>
          <a class="row video-information">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <img class="img-responsive img-rounded" [src]="post.pictures.sizes[post.pictures.sizes.length - 1].link" [alt]="post.description" >
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8" (click)="goTo(post.link)">
              <p class="video-title" >{{post.name}}</p>
              <p class="description-holder">{{post.description | limitText : 150 }}</p>
            </div>
          </a>
          <div class="row ">
            <span class="glyphicon glyphicon-comment info-badge info-badge-greenyellow">
              <span class="info-badge-text">{{post.metadata.connections.comments.total  | numberSuffix : 1 }}</span>
            </span>
            <span class="glyphicon glyphicon-heart-empty info-badge info-badge-steelblue">
              <span class="info-badge-text">{{post.metadata.connections.likes.total | numberSuffix : 1 }}</span>
            </span>
            <span class="glyphicon glyphicon-eye-open info-badge info-badge-orangered">
              <span class="info-badge-text">{{post.user.metadata.connections.appearances.total | numberSuffix : 1 }}</span>
            </span>
          </div>
        </div>-->
      </div>

      <div class="row">
        <button (click)="nextPostsSet()" class="btn btn-outline btn-block btn-danger">More Posts</button>
      </div>

    </div>

    <div class="col-md-3 col-sm-3  col-lg-3 col-xs-3  side-section">
      <app-right-side (options)="getPosts($event)"></app-right-side>
<!--      <div class="form-group post-box side-section-title">
        <label> Vimeo Api Detail </label>
      </div>
      <div class="form-group post-box">
        <label>Numbers of Page : </label>
        <input type="number" min="1" max="10" class="form-control" [(ngModel)]="vimeoDef.page" >
      </div>

      <div class="form-group post-box">
        <label>Videos Per Page : </label>
        <input type="number" min="1" max="100" class="form-control" [(ngModel)]="vimeoDef.per_page" >
      </div>

      <div class="form-group post-box">
        <label>Sort By : </label>
        <input type="text" placeholder="Sort By ..  " class="form-control" [(ngModel)]="vimeoDef.sort">
      </div>

      <div class="form-group post-box">
        <label>Search For : </label>
        <input type="text" placeholder="Search for ..  " class="form-control" [(ngModel)]="vimeoDef.query">
      </div>

      <div class="form-group ">
        <label></label>
        <button (click)="getPosts()" class="btn btn-outline btn-block btn-danger">Make an API Call</button>
      </div>-->
    </div>
  </div>
</div>
