<div class="col-md-2 col-sm-2  col-lg-2 col-xs-2" (click)="goTo(post.user.link)">
  <img class="center-block profile-img img-circle" *ngIf="post.user.pictures !== null"
       [src]="post.user.pictures.sizes[post.user.pictures.sizes.length -1].link" />
  <img class="center-block profile-img img-circle" *ngIf="post.user.pictures === null"
       src="/assets/img/1.jpg" />
</div>
<div class="col-md-10 col-sm-10  col-lg-10 col-xs-10">
  <div class="row" (click)="goTo(post.user.link)" >
    <span class="user-name">{{post.user.name}}</span>
    <span class="post-date"> - {{post.created_time | date}}</span>
  </div>
  <a class="row video-information">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <img class="img-responsive img-rounded" [src]="post.pictures.sizes[post.pictures.sizes.length - 1].link" [alt]="post.description" >
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8" (click)="goTo(post.link)">
      <p class="video-title" >{{post.name}}</p>
      <p class="description-holder">{{post.description | limitText : 150 }}</p>
    </div>
  </a>
  <div class="row ">
            <span class="glyphicon glyphicon-comment info-badge info-badge-greenyellow">
              <span class="info-badge-text">{{post.metadata.connections.comments.total  | numberSuffix : 1 }}</span>
            </span>
    <span class="glyphicon glyphicon-heart-empty info-badge info-badge-steelblue">
              <span class="info-badge-text">{{post.metadata.connections.likes.total | numberSuffix : 1 }}</span>
            </span>
    <span class="glyphicon glyphicon-eye-open info-badge info-badge-orangered">
              <span class="info-badge-text">{{post.user.metadata.connections.appearances.total | numberSuffix : 1 }}</span>
            </span>
  </div>
</div>
