<div class="form-group post-box side-section-title">
  <label> Filtering Results  </label>
</div>

<div class="form-group post-box">
  <label>Filter Videos : </label>
  <input type="text" placeholder="Search ..  " class="form-control" [(ngModel)]="option.searchQuery" (change)="changes()" >
</div>

<div class="checkbox post-box">
  <label><input type="checkbox"  [(ngModel)]="option.min" (change)="changes()">Minimum 10 Likes / Video </label>
</div>

<div *ngIf="option.min" class="form-group post-box">
  <label>Minimum like for Videos : </label>
  <input type="number" min="10" class="form-control" [(ngModel)]="option.minLike" (change)="changes()" >
</div>
